Repository sti11wind/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, telegram-notification-backend, build-frontend-code-job, telegram-notification-frontend

.gitlab-ci.yml:

stages:
  - build
  - notify

build-backend-code-job:
  stage: build
  only:
    changes:
    - backend/*
  script:
    - cd backend
    - mvn package
  artifacts:
    paths:
      - backend/target/sausage-store-0.0.1-SNAPSHOT.jar

telegram-notification-backend:
  stage: notify
  variables:
    PREVIOUS_JOB: ${CI_JOB_ID} 
  only:
    changes:
    - backend/*
  script:
    - curl -X POST -H 'Content-type:application/json' --data '{"chat_id":"-1001823350512", "text":"Климачев Сергей cобрал backend Скачать backend можно по ссылке — '"$SHOP_URL/-/jobs/${PREVIOUS_JOB}/artifacts/download?file_type=archive"' "}' https://api.telegram.org/bot5933756043:AAE8JLL5KIzgrNBeTP5e-1bkbJy4YRoeGjs/sendMessage 
  needs:
    - build-backend-code-job

build-frontend-code-job:
  stage: build  
  only:
    changes:
    - frontend/*
  script:        
    - cd frontend
    - npm install
    - npm run build
    - echo "PREVIOUS_JOB=${CI_JOB_ID}" >> build.env
    - echo  frontend/build.env
    - echo  PREVIOUS_JOB
  artifacts:
    paths:
      - frontend/build.env
      - frontend/dist/frontend 

telegram-notification-frontend:
  needs:
    - build-frontend-code-job
  stage: notify 
  only:
    changes:
    - frontend/*
  script:
    - echo  frontend/build.env
    - echo  frontend/build.env >> "PREVIOUS_JOB"
    - curl -X POST -H 'Content-type:application/json' --data '{"chat_id":"-1001823350512", "text":"Климачев Сергей cобрал frontend Скачать frontend можно по ссылке — '"$SHOP_URL/-/jobs/${PREVIOUS_JOB}/artifacts/download?file_type=archive"' "}' https://api.telegram.org/bot5933756043:AAE8JLL5KIzgrNBeTP5e-1bkbJy4YRoeGjs/sendMessage  
  needs:
    - build-frontend-code-job

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Add new file
  backend/test
Due: build-backend-code-job, telegram-notification-backend

Update test
  backend/test
Due: build-backend-code-job, telegram-notification-backend

Delete test.html
  frontend/test.html
Due: build-frontend-code-job, telegram-notification-frontend

Delete .gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job, telegram-notification-frontend

Delete test
  backend/test
Due: build-backend-code-job, telegram-notification-backend

Add new file
  frontend/test.html
Due: build-frontend-code-job, telegram-notification-frontend

Add new file
  backend/test.html
Due: build-backend-code-job, telegram-notification-backend

Add new file
  backend/.gitlab-ci.yml
Due: build-backend-code-job, telegram-notification-backend

Update .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: build-backend-code-job, telegram-notification-backend

Add new file
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job, telegram-notification-frontend

Update test.html
  backend/test.html
Due: build-backend-code-job, telegram-notification-backend

Update .gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job, telegram-notification-frontend

Update OrderController.java
  backend/src/main/java/com/yandex/practicum/devops/controller/OrderController.java
Due: none
