Repository sti11wind/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend, backend-report

.gitlab-ci.yml:

stages:
  - module-pipelines

frontend:
  stage: module-pipelines
  trigger:
    include:
      - "/frontend/.gitlab-ci.yml"
    strategy: depend 
  only:
    changes: 
      - frontend/**/*

backend:
  stage: module-pipelines
  trigger:
    include:
      - "/backend/.gitlab-ci.yml"
    strategy: depend 
  only:
    changes:  
      - backend/**/* 

backend-report:
  stage: module-pipelines
  trigger:
    include:
      - "/backend-report/.gitlab-ci.yml"
    strategy: depend 
  only:
    changes:  
      - backend-report/**/*

Update .gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend

Add new directory
  multicloud/.gitkeep
Due: none

Upload New File
  multicloud/milticloud.jpg
Due: none

Add new file
  multicloud/ReadMe.txt
Due: none

Update ReadMe.txt
  multicloud/ReadMe.txt
Due: none

Prometheus metrics added
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/service/BusinessMetricsService.java
  backend/src/main/java/com/yandex/practicum/devops/service/OrderServiceImpl.java
  backend/src/main/resources/application.properties
Due: backend

Update .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend

Update Dockerfile
  frontend/Dockerfile
Due: frontend

Update nginx.tmpl
  frontend/nginx.tmpl
Due: frontend
