Repository sti11wind/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend, backend-report

.gitlab-ci.yml:

stages:
  - module-pipelines

frontend:
  stage: module-pipelines
  trigger:
    include:
      - "/frontend/.gitlab-ci.yml"
    strategy: depend 
  only:
    changes: 
      - frontend/**/*

backend:
  stage: module-pipelines
  trigger:
    include:
      - "/backend/.gitlab-ci.yml"
    strategy: depend 
  only:
    changes:  
      - backend/**/* 

backend-report:
  stage: module-pipelines
  trigger:
    include:
      - "/backend-report/.gitlab-ci.yml"
    strategy: depend 
  only:
    changes:  
      - backend-report/**/*

Update .gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend

Update frontend_deploy.sh
  frontend/frontend_deploy.sh
Due: frontend

Update docker-compose.yml
  docker-compose.yml
Due: none

Update backend-report_deploy.sh
  backend-report/backend-report_deploy.sh
Due: backend-report

Update .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
Due: backend-report

Update backend_deploy.sh
  backend/backend_deploy.sh
Due: backend
