Repository sti11wind/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend, backend-report

.gitlab-ci.yml:

stages:
  - module-pipelines

frontend:
  stage: module-pipelines
  trigger:
    include:
      - "/frontend/.gitlab-ci.yml"
    strategy: depend 
  only:
    changes: 
      - frontend/**/*

backend:
  stage: module-pipelines
  trigger:
    include:
      - "/backend/.gitlab-ci.yml"
    strategy: depend 
  only:
    changes:  
      - backend/**/* 

backend-report:
  stage: module-pipelines
  trigger:
    include:
      - "/backend-report/.gitlab-ci.yml"
    strategy: depend 
  only:
    changes:  
      - backend-report/**/*

Update .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: backend

Update .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
Due: backend-report

Update .gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend

Update Dockerfile
  backend-report/Dockerfile
Due: backend-report

Update docker-compose.yml
  docker-compose.yml
Due: none

Update frontend_deploy.sh
  frontend/frontend_deploy.sh
Due: frontend

Update Dockerfile
  frontend/Dockerfile
Due: frontend

Add new directory
  frontend/app/.gitkeep
Due: frontend

Add new file
  frontend/app/nginx.tmpl
Due: frontend

Add new file
  frontend/nginx.tmpl
Due: frontend
