Repository sti11wind/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, telegram-notification-backend, build-frontend-code-job, telegram-notification-frontend

build-backend-code-job:
  stage: build
  script:
  - cd backend
  - mvn package
  - echo "JOB_ID=$CI_JOB_ID" >> job.env
  artifacts:
    reports:
      dotenv: backend/job.env
    paths:
    - backend/target/sausage-store-0.0.1-SNAPSHOT.jar

telegram-notification-backend:
  stage: notify
  dependencies:
  - build-backend-code-job
  script:
  - echo $JOB_ID
  ...

build-frontend-code-job:
  stage: build
  variables: null
  script:
  - cd frontend
  - npm install
  - npm run build
  - echo "JOB_ID=$CI_JOB_ID" >> job.env
  artifacts:
    reports:
      dotenv: frontend/job.env
    paths:
    - frontend/dist/frontend

telegram-notification-frontend:
  needs:
  - build-frontend-code-job
  stage: notify
  script:
  - echo $JOB_ID
  ...

Update .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: build-backend-code-job, telegram-notification-backend

Added MongoDB integration
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/SausageApplication.java
  backend/src/main/java/com/yandex/practicum/devops/model/Report.java
  backend/src/main/java/com/yandex/practicum/devops/repository/ReportRepository.java
  backend/src/main/java/com/yandex/practicum/devops/task/ReportSaverTask.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: build-backend-code-job, telegram-notification-backend

Update sausage-store-backend.service
  backend/sausage-store-backend.service
Due: build-backend-code-job, telegram-notification-backend

Update deploy.sh
  backend/deploy.sh
Due: build-backend-code-job, telegram-notification-backend

Update application.properties
  backend/src/main/resources/application.properties
Due: none

Add new file
  backend/Dockerfile
Due: build-backend-code-job, telegram-notification-backend

Add new file
  frontend/Dockerfile
Due: build-frontend-code-job, telegram-notification-frontend

Add new file
  backend/backend_deploy.sh
Due: build-backend-code-job, telegram-notification-backend

Add new file
  frontend/frontend_deploy.sh
Due: build-frontend-code-job, telegram-notification-frontend

Update backend_deploy.sh
  backend/backend_deploy.sh
Due: build-backend-code-job, telegram-notification-backend

Path conditions:
  build-backend-code-job: any of: backend/*
  telegram-notification-backend: any of: backend/*
  build-frontend-code-job: any of: frontend/*
  telegram-notification-frontend: any of: frontend/*
