Repository sti11wind/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend, backend, backend-report

frontend:
  stage: module-pipelines
  trigger:
    include:
    - /frontend/.gitlab-ci.yml
    strategy: depend

backend:
  stage: module-pipelines
  trigger:
    include:
    - /backend/.gitlab-ci.yml
    strategy: depend

backend-report:
  stage: module-pipelines
  trigger:
    include:
    - /backend-report/.gitlab-ci.yml
    strategy: depend

Add new file
  backend-report/app/requirements.txt
Due: backend-report

Add new file
  backend-report/std-014-65.praktikum-services.tech
Due: backend-report

Update std-014-65.praktikum-services.tech
  backend-report/backend-report_deploy.sh
Due: backend-report

Update backend-report_deploy.sh
  backend-report/backend-report_deploy.sh
Due: backend-report

Update Dockerfile
  backend-report/Dockerfile
Due: backend-report

Update .gitlab-ci.yml
  backend-report/.gitlab-ci.yml
Due: backend-report

Add new file
  docker-compose.yml
Due: none

Update .gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend

Update docker-compose.yml
  docker-compose.yml
Due: none

Update frontend_deploy.sh
  frontend/frontend_deploy.sh
Due: frontend

Path conditions:
  frontend: any of: frontend/**/*
  backend: any of: backend/**/*
  backend-report: any of: backend-report/**/*
