Repository sti11wind/sausage-store: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-backend-code-job, telegram-notification-backend, build-frontend-code-job, telegram-notification-frontend

build-backend-code-job:
  stage: build
  script:
  - cd backend
  - mvn package
  - echo "JOB_ID=$CI_JOB_ID" >> job.env
  artifacts:
    reports:
      dotenv: backend/job.env
    paths:
    - backend/target/sausage-store-0.0.1-SNAPSHOT.jar

telegram-notification-backend:
  stage: notify
  dependencies:
  - build-backend-code-job
  script:
  - echo $JOB_ID
  ...

build-frontend-code-job:
  stage: build
  variables: null
  script:
  - cd frontend
  - npm install
  - npm run build
  - echo "JOB_ID=$CI_JOB_ID" >> job.env
  artifacts:
    reports:
      dotenv: frontend/job.env
    paths:
    - frontend/dist/frontend

telegram-notification-frontend:
  needs:
  - build-frontend-code-job
  stage: notify
  script:
  - echo $JOB_ID
  ...

Update .gitlab-ci.yml
  backend/.gitlab-ci.yml
Due: build-backend-code-job, telegram-notification-backend

Update .gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: build-frontend-code-job, telegram-notification-frontend

Add new file
  frontend/deploy.sh
Due: build-frontend-code-job, telegram-notification-frontend

Add new file
  frontend/sausage-store-frontend.service
Due: build-frontend-code-job, telegram-notification-frontend

Update sausage-store-frontend.service
  frontend/sausage-store-frontend.service
Due: build-frontend-code-job, telegram-notification-frontend

Update deploy.sh
  frontend/deploy.sh
Due: build-frontend-code-job, telegram-notification-frontend

Update sausage-store-backend.service
  backend/sausage-store-backend.service
Due: build-backend-code-job, telegram-notification-backend

Changed DB to PostgreSQL
  backend/pom.xml
  backend/src/main/java/com/yandex/practicum/devops/model/OrderProduct.java
  backend/src/main/resources/application.properties
  backend/src/test/resources/application.properties
Due: build-backend-code-job, telegram-notification-backend

Update pom.xml
  backend/pom.xml
Due: build-backend-code-job, telegram-notification-backend

Update application.properties
  backend/src/main/resources/application.properties
Due: none

Update application.properties
  backend/src/test/resources/application.properties
Due: none

Add new directory
  backend/src/main/resources/db/.gitkeep
Due: none

Add new directory
  backend/src/main/resources/db/migration/.gitkeep
Due: none

Add new file
  backend/src/main/resources/db/migration/V01_create_tables.sql
Due: none

Add new file
  backend/src/main/resources/db/migration/V02__extend_tables.sql
Due: none

Add new file
  backend/src/main/resources/db/migration/V03_extend_tables.sql
Due: none

Path conditions:
  build-backend-code-job: any of: backend/*
  telegram-notification-backend: any of: backend/*
  build-frontend-code-job: any of: frontend/*
  telegram-notification-frontend: any of: frontend/*
